<!-- just a simple landing page -->
<div class="row">
  <div class="col-md-4">
    <div class="jumbotron text-center">
      <h1>Sign In<br><br><span class="glyphicon glyphicon-user"></span></h1>
    </div>
  </div>
  <div class="col-md-4">
    <div class="jumbotron text-center">
      <h1>Create<br><br><span class="glyphicon glyphicon-edit"></span></h1>
    </div>
  </div>
  <div class="col-md-4">
    <div class="jumbotron text-center">
      <h1>Order<br><br><span class="glyphicon glyphicon-shopping-cart"></span></h1>
    </div>
  </div>
</div>
<div class="row text-center">
  <h2>Making a custom sticker has never been easier.</h2>
</div>
