@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono|Sofadi+One|Nothing+You+Could+Do|Gilda+Display|Diplomata|Playfair+Display+SC|Candal|Open+Sans|Herr+Von+Muellerhoff);

body {
	padding-top:70px;
}

.navbar-right {
	padding-right: 10px;
}

#editorCanvas {
	height: 500px;
	background-color: #EBEBEB;
}

#shape {
	border: 5px solid black;
	width: 400px; height: 400px;
}

#overflow {
	overflow: hidden;
	width: 100%; height: 100%;
}

.dropdown-menu {
	min-width: 300px;
}

.dropdown-menu li.input-group {
	margin-left: 10px;
	margin-right: 10px;
	height: 45px;
}

.text {
	height: 45px;
	font-size: 17px !important;
	text-align: center;
}

div#text {
	display: inline-block;
	cursor: move;
}